/* MASTER */

@wrap: 980px; 
@gutter: 10px;
@accent: #eee;

@d : @stylesheet_directory_uri;
  
@import 'reset.less';
@import '../fnt/fonts.less';
@import 'grid.less';
@import 'helpers.less';
@import 'css3.less';
@import 'normalise.less';
@import 'main.less';
@import 'responsive.less';