[submodule "php/lib/meta-box"]
	path = php/lib/meta-box
	url = https://github.com/rilwis/meta-box.git
[submodule "php/lib/multi-post-thumbnails"]
	path = php/lib/multi-post-thumbnails
	url = https://github.com/voceconnect/multi-post-thumbnails.git
[submodule "php/lib/options-framework-theme"]
	path = php/lib/options-framework-theme
	url = https://github.com/devinsays/options-framework-theme.git
[submodule "php/lib/SimpleImage"]
	path = php/lib/SimpleImage
	url = https://github.com/claviska/SimpleImage.git
[submodule "php/lib/wp-less"]
	path = php/lib/wp-less
	url = https://github.com/oncletom/wp-less.git
