html body {
  font-size:@font-m;
  line-height:@font-lh;
  color:@color;
}

a {
  color:@color;
  text-decoration:none;
  &:hover {
    color:@accent;
    //text-decoration:underline;
    //border-bottom:1px solid #fff;
  }
}

.hx()     {font-weight:600;}
.hx-uc()  {text-transform:uppercase;}
.hx-lc()  {text-transform:lowercase;}
.hx-xl()  {font-size:@font-xl;line-height:@font-lh-xl;}
.hx-l()   {font-size:@font-l; line-height:@font-lh-l;}
.hx-m()   {font-size:@font-m; }
.hx-s()   {font-size:@font-s; }
.hx-xs()  {font-size:@font-xs;}

.cx()     {font-weight:400;}
.cx-uc()  {text-transform:uppercase;}
.cx-lc()  {text-transform:lowercase;}
.cx-xl()  {font-size:@font-xl;line-height:@font-lh-xl;}
.cx-l()   {font-size:@font-l; line-height:@font-lh-l;}
.cx-m()   {font-size:@font-m; }
.cx-s()   {font-size:@font-s; }
.cx-xs()  {font-size:@font-xs;}
.cx-full()  {
  
}