{% extends "common/base.twig" %}

{% block content %}
<section class="content-wrap ">
	<section class="content content-404 clearfix">
		<h1>Oops! We couldn't find that.</h1>
		<div>
			<p>Please try again</p>
		</div>
	</section>
</section>
{% endblock %}
