{% extends "base.twig" %}

{% block body_classes %}page-home{% endblock %}
{% block content_wrap_classes %}content-wrap-home{% endblock %}

{% block content %}
<section class="content-wrap content-wrap-home clearfix">
	<section class="content content-home clearfix">
		<h1>Home page</h1>
	</section>
</section>
{% endblock %}