{% extends "common/base.twig" %}

{% block body_classes %}page-home{% endblock %}

{% block content %}
<div class="container-wrap container-wrap-home">
<section class="container container-home">
  <section class="testimonials">
    <div class="inner">
      <div class="heading">
        <h2>Testimonials</h2>
      </div>
      <div class="blocks blocks-testimonials">
        {% for testimonial in testimonials %}
        <div class="block item">
          <div class="testimonial">
            <p><q>{{ testimonial.testimonial }}</q></p>
            <footer>{{ testimonial.attribution }}</footer>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</section>
</section>
{% endblock %}