<div class="block">
  <div class="inner">
    <div class="heading">
      <div class="title"><h2>{{ post.title }}</h2></div>
      <div class="date">{{ post.date }}</div>
    </div>
    <div class="details">
      <div class="description">{{ post.excerpt }}</div>
      <div class="link"><a href="{{ post.href }}">Read more.</a></div>
    </div>
  </div>
</div>