{% include 'common/html-header.twig' %}
{% block head %}
{% endblock %}
</head>
<body class="{{ body_class }} {% block body_classes %}{% endblock %}">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <header class="main">
      <div class="logo"><a href="/"><img src="{{ template_uri }}/img/logo.png" alt=""></a></div>
    </header>

    {% block content %}
    <section class="content-wrap {% block content_wrap_classes %}{% endblock %}">
        Sorry, no content
    </section>
    {% endblock %}

    {% include 'common/footer.twig' %}
    {{ function('wp_footer') }}
</body>
</html>
