<footer class="main">
  <form class="newsletter" action="" method="post" >
    <h3>Get the Newsletter</h3>
    <div class="success">
        Thankyou for signing up!
    </div>
    <div class="error">
        Please check your email address is correct.
    </div>
    <div class="controls">
      <input type="text" name="cm-ydpkr-ydpkr" placeholder="Your Email Address">
      <button type="submit">Sign up</button>
    </div>
  </form>
  <div class="social">
    <ul>
      <li><a target="_blank" href="https://twitter.com/" class="icon-twitter"></a></li>
      <li><a target="_blank" href="http://www.facebook.com/" class="icon-facebook"></a></li>
      <li><a target="_blank" href="http://pinterest.com/" class="icon-pinterest"></a></li>
    </ul>
  </div>
</footer>