<footer class="default" data-template="{{ body_classes }}">
  <div class="social">
    <ul>
      <li><a data-pub="newsletter" class="icon-mail"></a></li>
      <li><a target="_blank" href="https://twitter.com/" class="icon-twitter"></a></li>
      <li><a target="_blank" href="http://www.facebook.com/" class="icon-facebook"></a></li>
      <li><a target="_blank" href="http://pinterest.com/" class="icon-pinterest"></a></li>
    </ul>
  </div>
</footer>