
<header class="default">
  <div class="inner">
    <nav class="logo">
      <a href="/"><img src="{{ template_uri }}/dist/img/header/logo.png" alt="{{ site.name }}"></a>
    </nav>
    <nav class="menu" data-sub="hamburger">
      <ul>
        {% for link in main_menu %}
          {% include 'elements/menu-item.twig' with {link: link} %}
        {% endfor %}
      </ul>
    </nav>
    <div class="hamburger" data-pub="hamburger">
      <i></i>
      <i></i>
      <i></i>
    </div>
    <div class="bg"></div>
  </div>
</header>
<div id="top"></div>