@mixin container-contact() {
  section.content {
    @include bp-xl();
    padding-top:40px;
    .inner {
      @include wrapper();
      @include clearfix();
      .details {
        @include span(5);
        .description {
          @include cx();
          @include cx-full();
          @include cx-xs();
          @include cx-midgrey();
        }
      }
      .contact {
        @include span(7);

      }
    }
    @include respond-to(m) {
      .inner {
        .details {
          @include span(12,0);
          .contacts,
          .people {
            @include span(6);
          }
        }
        .contact {
          @include span(12);
          padding-top:30px;
        }
      }
    }
    @include respond-to(xs) {
      .inner {
        .details {
          width:100%;
          float:none;
          @include wrapper(320px);
          .contacts,
          .people {
            width:100%;
            float:none;
          }
          .people {
            padding-top:40px;
          }
        }
        .contact {
          @include span(12);
          padding-top:80px;
        }
      }
    }
  }
}