@mixin container-home() {
  section.hero {
    position:relative;
    .spacer {
      //padding-top:50%;
    }
    .slider {
      margin-bottom:$space-xl;
      .slideshow {
        >div {
          .background {
            background-size:cover;
            background-position:center;
            background-repeat: no-repeat;
            padding-top:50%;
          }
        }
      }
      .bx-controls {
        @include helper-bx-arrows();
        @include helper-bx-pager();
      }
    }
  }
}