/* MASTER */
$wrap:  1200px; //reasonable default 
$gutter: 20px; // reasonable default
$columns: 12;

$light:        #ffffff;
$lightestgrey: #e6e6e6; //Not used (yet)
$lightgrey:    #999999;
$midgrey:      #6d6d6d; //Not used (yet)
$darkgrey:     #4d4d4d;
$darkestgrey:  #231F20;
$dark:         #000000;

$darkblue:   #556270;
$blue:       #4ecdc4;
$green:      #c7f464;
$pink:       #ff6b6b;
$darkpink:   #c44d58;

$accent:     $darkblue;
$background: #fff;


$breakpoints: (
  'xxl'  : ( max-width: 1080px ),
  'xl' : ( max-width:  960px ),
  'l' : ( max-width:  840px ),
  'l+' : ( min-width:  841px ),
  'm' : ( max-width:  720px ),
  's'  : ( max-width:  680px ),
  'xs'  : ( max-width:  600px ),
  'xxs'  : ( max-width:  500px ),
);


$space-xxxl: 100px;
$space-xxl: 90px;
$space-xl:  70px;
$space-l:   60px;
$space-m:   40px;
$space-s:   30px;
$space-xs:  20px;
$space-xxs: 10px;
 
$font-xxl: 40px;
$font-xl:  28px; 
$font-l:   24px;
$font-m:   16px;
$font-s:   15px;
$font-xs:  14px; 
$font-xxs: 12px; 

$font-lh-xxl: 48px; //Will tweak later
$font-lh-xl:  36px; //Will tweak later
$font-lh-l:   32px; //Will tweak later
$font-lh-m:   24px; //Will tweak later
$font-lh-s:   24px; //Will tweak later
$font-lh-xs:  18px; //Will tweak later
$font-lh-xxs: 18px; //Will tweak later

$d : './';
$images : './img/';

//Base framework
@import 'utils/reset.scss';
@import 'utils/grid.scss'; 
@import 'utils/helpers.scss';
@import 'utils/css3.scss';
@import 'utils/normalise.scss'; 
@import 'utils/typography.scss'; 

//Theme specific functions
@import 'frontend/fonts.scss';
@import 'frontend/helpers.scss';
@import 'frontend/typography.scss';
@import 'frontend/forms.scss';
@import 'frontend/elements.scss';

//Theme specific styling
@import 'frontend/container-wrap.scss';
@import 'frontend/container.scss';
@import 'frontend/header.scss';
@import 'frontend/footer.scss'; 
@import 'frontend/lightbox.scss';
@import 'frontend/blocks.scss'; 
@import 'frontend/scripts/lbox.scss'; 

// Main 
html,body { margin:0;padding:0; }
html { height:100%; }

body {
  min-height:100%;
  position:relative;
  background:$background;
  @include sans();
}

a {
  color:$dark;
  text-decoration:none;
  cursor:pointer;
  &:hover,
  &:active {
    text-decoration:none;
  }
}

#wpadminbar {
  display:none;
}

html {
  margin-top:0!important;
}