/* MASTER */
$wrap: 100%; 
$gutter: 24px;

$light:        #fff;
$lightestgrey: #e6e6e6;
$lightgrey:    #b3b3b3;
$midgrey:      #6d6d6d;
$darkgrey:     #4d4d4d;
$darkestgrey:  #333333;
$dark:         #141414;

$beige:      #f6f2ed;
$accent:     #f00;
$background: #fff;

$space-xxl: 80px;
$space-xl:  60px;
$space-l:   50px;
$space-m:   30px;
$space-s:   20px;
$space-xs:  10px;
 
$font-xxl: 40px;
$font-xl:  38px; 
$font-l:   30px;
$font-m:   22px;
$font-s:   14px;
$font-xs:  12px; 
$font-xxs: 11px; 

$font-lh-xxl: 48px; 
$font-lh-xl:  42px; 
$font-lh-l:   38px; 
$font-lh-m:   24px; 
$font-lh-s:   19px; 
$font-lh-xs:  19px; 
$font-lh-xxs: 18px; 

$d : '/app/content/themes/powerhouse/dist/';
$images : '/app/content/themes/powerhouse/dist/img';

//Base framework
@import 'utils/reset.scss';
@import 'utils/grid.scss'; 
@import 'utils/helpers.scss';
@import 'utils/css3.scss';
@import 'utils/normalise.scss'; 
@import 'utils/typography.scss'; 

//Theme specific functions
@import 'frontend/fonts/fonts.scss';
@import 'frontend/helpers.scss';
@import 'frontend/typography.scss';
@import 'frontend/forms.scss';
@import 'frontend/elements.scss';

//Theme specific styling
@import 'frontend/container-wrap.scss';
@import 'frontend/container.scss';
@import 'frontend/header.scss';
@import 'frontend/footer.scss'; 
@import 'frontend/lightbox.scss';
@import 'frontend/blocks.scss'; 
@import 'frontend/responsive.scss';

// Main 
html,body { margin:0;padding:0; }
html { height:100%; }

body {
  min-height:100%;
  position:relative;
  background:$background;
  >.wrap-all {
    //margin:0 (40px - $gutter/2);
  }
  @include sans();
}

a {
  &:hover,
  &:active {
    text-decoration:none;
  }
}

@import 'example-styles.scss';