.element {
  &.element-hero {
    text-align:center;
    padding: $space-xl $gutter $space-s;
    @include respond-to(m) {
      padding-top:$space-l;
      padding-bottom:$space-s;
    }
    .title {
      @include hx();
      @include hx-uc();
      @include hx-xl();
      @include helper-header-decorator();
    }
    .subtitle {
      .inner {
        @include clearfix();
        @include wrapper(900px);
        @include bp-m();
        h2 {
          @include hx();
          @include hx-l();
          @include hx-midgrey();
        }
      }
    }
    .controls {
      p {
        @include cx-full($midgrey);
        @include cx-m();
        @include bp-s();
      }
      select {
        @include input();
        @include input-border();
      }
    }
  }
}