footer.default {
  .inner {
    @include wrapper();
    @include clearfix();
    .copyright {
      float:right;
      @include cx();
      @include cx-xs();
      @include cx-lightgrey();
      padding-right:$gutter;
      padding-bottom:50px;
    }
  }
}