

.lightbox-wrap {
  .lightbox-box {
    &.lightbox-login {
      .login {
        width:320px;
        max-width:100%;
        .heading {
          @include hx();
          @include hx-uc();
          @include hx-xl();
          @include helper-header-decorator();
          text-align:center;
        }
        .description {
          @include cx();
          @include cx-m();
          @include cx-midgrey();
          @include bp-s();
        }
        form {
          >div {
            padding-bottom:$space-s;
          }
          input,
          select {
            @include input-border();
            width:100%;
          }
          button {
            @include button();
          }
        }
      }
    }
  }
}